@model komponentova_tvorba.ViewModels.BookViewModel
@{
    ViewData["Title"] = "Seznam knih";
}

<div class="text-center my-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="table-responsive">
        <table class="table table-hover align-middle border rounded">
            <thead class="table-success">
                <tr>
                    <th>Název knihy</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author.Fullname</td>
                        <td><span class="badge bg-primary">ISBN @book.ISBN</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

