@model komponentova_tvorba.Models.HomeViewModel
@{
  ViewData["Title"] = "Books";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Autor</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var book in Model.Books)
      {
      <tr>
        <td>@book.Title</td>
        <td>@book.Author.Fullname</td>
        <td>ISBN @book.ISBN</td>
      </tr>
      }
    </tbody>
  </table>
</div>
