@model IEnumerable<komponentova_tvorba.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Users</h2>
    <a asp-action="Create" class="btn btn-primary">Create New User</a>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model)
        {
        <tr>
          <td>@user.Id</td>
          <td>@user.Username</td>
          <td>@user.Email</td>
        </tr>
        }
      </tbody>
    </table>
</div>
